body{
    background-image: url("nen1.jpg");
    background-size: 100%;
}
table{
    margin:0 auto;
}
td{
    text-align: center;
    padding: 30px;
}
h1{
    text-align: center;
    margin-top: 175px;
    color: orangered;
    font-size: 50px;
}
.a{
    font-size: 20px;
    color: #c21535;
}
#out{
    color: rgba(241, 33, 64, 0.8);
    font-size: 20px;
    font-weight: bold;
}